.paginado{
    display: flex;
    list-style:  none;
    justify-content: space-around;
    align-items: center;
}

.number{
    color: white;
    font-size: 12px;
}

.number:hover{
    color: wheat;
    
}


.containerNumber{

    background-color: rgb(16, 62, 212);
    width: 24px;
    height: 24px;
    border-radius: 50%;

}
.containerNumber:hover{

    border-radius: 50%;
    box-shadow: 5px 3px 3px rgba(11, 12, 12, 0.375);
}
